h2 {
    font-weight: normal;
    font-style: italic;
}
.header {
    background-color: #8a0303;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    margin: 5px;
    border-radius: 15px;
    vertical-align: middle;
}

.header-text {
    text-align: center;
    vertical-align: middle;
    margin-left: 240px;
}

.header-image {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 120px;
    vertical-align: middle;
    margin-left: 80px;
}

body {
    background-color: #2D2F3B;
}

.card {
    padding-bottom: 2px;
    padding-top: 2px;
}

.itachi-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 600px;
    border-top-style: solid;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-width: 4px;
    border-color: #4c505e;
    border-radius: 10px;
}

.text-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    max-width: 1000px;
}

footer {
    border-top-style: solid;
    border-top-width: 5px;
    border-color: #8a0303;
}

.footer-text {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

.footer img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
}