/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Formulärets utseende */
body {
    font-family: 'Poppins', sans-serif;
    -webkit-user-select: none;
    background-color: #2c2c54;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    color: #ecf0f1;
}

form {
    width: 600px;
    margin: 30px auto;
    background: rgb(162,48,209);
    background: linear-gradient(90deg, rgba(162,48,209,1) 0%, rgba(155,89,182,1) 53%, rgba(142,68,173,1) 100%);
    padding: 50px;
    border-radius: 20px;
    /* Två kolumner */
    display: grid;
    grid-template-columns: 140px auto;
    gap: 15px;
}

form label {
    color: white;
    font-size: 20px;
}

form input {
    padding: 5px;
    background-color: #34495e;
    color: white;
    border-radius: 2px;
    border: none;
}

form button {
    background-color: #2c3e50;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    font-size: 15px;   
}

::placeholder {
    color: rgb(223, 223, 223);
}

form select, form textarea {
    background-color: #2c3e50;
    color: rgb(223, 223, 223);
}
