/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

:root {
    --lightblackish: #39373f;
    --lightgrayish: #484650;
    --royalblueish: rgb(75, 71, 141);
    --navcolor1: rgb(36, 34, 73);
    --navcolor2: rgb(51, 49, 85);  
}


/* Sidans utseende */
body {
    background-color: var(--lightblackish);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.kontainer {
    width: 950px;
    margin: 0px auto;
    text-align: center;
    background-color: var(--lightgrayish);
    padding: 25px;    
}

.kontainer h1 {
    margin-bottom: 20px;
}

.kontainer figure {
    background-color: white;
    width: 400px;
    padding: 20px;
    margin: auto;
    border-radius: 2px;
}

.kontainer figure figcaption {
    color: var(--lightblackish);
}

.kontainer img {
    width: 100%;
}

.kontainer p {
    padding-bottom: 25px;
}

.kontainer p a {
    text-decoration: none;
    color: paleturquoise;
}

.kontainer ul {
    margin-bottom: 50px;
    list-style: none;
}

.kontainer ul li {
    display: inline;
}

.kontainer ul a {
    color: white;
    text-decoration: none;
    background-color: var(--navcolor1);
    padding: 10px 25px;
    margin-left: 5px;
    border-radius: 3px;
    display: inline-block;
    width: 170px;
}
/* Aktiv och pekarens effekter */
.kontainer ul a:hover {
    background-color: var(--navcolor2);
}

.kontainer ul a.aktiv {
    background-color: var(--royalblueish);
}

.tack {
    color: rgb(163, 157, 157);
    font-size: 12px;
}