body {
    background: url(./media/fiji-island.jpg) no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 100px;
    margin-left: 100px;
    text-transform: uppercase;
}

h2 {
    font-size: 45px;
    margin-left: 100px;
}

p {
    display: inline-block;
    margin-left: 650px;
    font-size: 30px;
    border: 3px white solid;
    border-radius: 15px;
    padding: 10px 40px;
    background-color: rgba(253, 167, 223,0.6);
    text-transform: uppercase;
}

.link-text {
    color: white;
    text-decoration: none;
}

.link-text:hover {
    font-size: 30.5px;
}

