body {
    color: #424041;
    background-color: #f5edfa;
}

table {
    border-spacing: 10px;
    background-color: #FBE9E7;
    width: 100%;
    border: 2px solid black;
    border-width: 0px 2px 2px 2px;
}

caption {
    background-image: url("./media/pattern.jpg");
    font-size: 50px;
    padding: 20px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    border: solid black;
    border-width: 2px 2px 0px 2px;
    color: #000;
}

th {
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
}

tr {
    padding: 10px;
    background-color: #ebdad8;
}

td {
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
}
