

body {
    background-image: linear-gradient(45deg, #380036, #0CBABA);
    background-size: 100%;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 50px;
    color: #4c4cff;
    
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    color: blueviolet ;
}

p {
    font-family: 'Bitter', serif;
    font-size: 17px;
    color: white;
}

a {
    color: white;
}
