/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'sans-serif';
}

.hero-bg {
    background: #B53471 url("./bilder/hero-bg.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

header {
    padding: 1em 0;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

header a:hover{
    color: rgb(200, 200, 200);
}

h1 {
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}

h1 span{
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}

h1 span::before{
    content: ' ';
    position: absolute;
    width: 3em;
    background: #353b48;
    height: .5em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}

.hero-bg h1 {
    color: #fc5c65;
}

section {
    margin: 0 1em;
}

.hero-bg p{
    font-weight: bold;
    margin: 0 1em 3em;
}

.form-container{
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}

label {
    color: #B53471;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
}