body {
    background: #000 url("./media/earth.jpg") no-repeat -1000px -400px;
}

h1 {
    font-family: 'Arima Madurai', cursive;
    color: white;
    font-size: 100px;
    width: 600px;
    margin-left: 400px;
}